# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
frontApp
brokerApp

# Output folders
/bin/
/build/

# Dependency management
vendor/

# Editor-specific
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

